.App {
    /* 기본 앱 동작 */
    max-width: 768px;
    min-width: 375px;
    height: 100%;
    margin: auto;
    background-color: white;
    position: relative;
    overflow: hidden;
  }
  

  /* 카테고리 폰트 색상 */
  .myCategory{
    padding: 0.5rem;
    color: #6c757d;
    font-weight: 500;
    font-size: large;
  }
  /* 카테고리 활성화 */
  .myCategory.active{
    font-weight: bold;
    color:#198754;
    border-bottom: 3px solid #198754;
  }