.App {
    /* 기본 앱 동작 */
    max-width: 768px;
    min-width: 375px;
    height: 100%;
    margin: auto;
    background-color: white;
  }
  

  /* 카테고리 폰트 색상 */
  .custom-nav-link {
    color: #6c757d; /* 기본색상 */
  }
  .custom-nav-link.active {
    color: #007bff; /* 활성화된 탭은 파란색으로 변경 */
  }